name = "burnbox"
main = "src/worker/index.ts"
compatibility_date = "2024-12-01"

routes = [
  { pattern = "${WORKER_DOMAIN}", custom_domain = true }
]

[assets]
directory = "./public"
binding = "ASSETS"
not_found_handling = "single-page-application"

[[d1_databases]]
binding = "DB"
database_name = "burnbox-db"
database_id = "${D1_DATABASE_ID}"

[[r2_buckets]]
binding = "BUCKET"
bucket_name = "burnbox-notes"

[triggers]
crons = ["0 * * * *"]
